.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: -50px;
}

.filter {
    display: grid;
    padding: 1em;
}

.mini-box-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.mini-box-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.mini-box-2>div {
    grid-auto-columns: 100px;
    /* justify-self: center; */
    border: 1px #333 solid;
    padding: 1em;
}

.mini-box-3>div {
    grid-auto-columns: 100px;
    /* justify-self: center; */
    border: 1px #333 solid;
    padding: 1em;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 1em;
}

.products>div {
    grid-auto-rows: 400px;
}