<head>
    <base href="../">
    <link rel="stylesheet" href="./css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="./css/lib/jquery-ui-lightness.1.12.1.css">
    <link rel="stylesheet" href="./css/left-grid-filter.css">
</head>

<div class="filter">
    <div style="height:1em;"></div>
    <h3>Articles</h3>
    <div class="mini-box-3">
        <div>Jacket</div>
        <div>Wallet</div>
        <div>Watch</div>
    </div>
    <div style="height:1em;"></div>
    <h3>Season</h3>
    <div class="mini-box-2">
        <div>Winter</div>
        <div>Spring</div>
        <div>Summer</div>
        <div>Autumn</div>
    </div>
    <div style="height:1em;"></div>
    <h3>Size</h3>
    <div class="mini-box-3">
        <div>32</div>
        <div>34</div>
        <div>36</div>
        <div>38</div>
        <div>40</div>
        <div>42</div>
    </div>
    <div style="height:1em;"></div>
    <h3>Brands</h3>
    <div class="mini-box-3">
        <div>Gucci</div>
        <div>Rolex</div>
        <div>Chanel</div>
        <div>Louis Vitton</div>
        <div>Versace</div>
        <div>FVF</div>
    </div>
</div>