<head>
    <base href="../">
    <link rel="stylesheet" href="./css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="./css/lib/jquery-ui-lightness.1.12.1.css">
    <link rel="stylesheet" href="./css/left-grid-filter.css">
</head>

<div class="products">
    <div class="card mb-4 box-shadow">
        <!-- <img class="card-img-top" onclick="location.href='productM.html'" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Jacket" alt="Card image cap"> -->
        <img src="./img/redJacket.png" alt="red jacket" class="card-img-top" onclick="location.href='productM.html'">
        <div class="card-body">
            <p class="card-text">This is a jacket</p>
            <a href="./html/productM.html" class="btn btn-primary">More info</a>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <img src="./img/greenJacket.png" alt="green jacket" class="card-img-top" onclick="location.href='productM.html'">
        <div class="card-body">
            <p class="card-text">This is a jacket</p>
            <a href="./html/productM.html" class="btn btn-primary">More info</a>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <img src="./img/redJacket.png" alt="red jacket" class="card-img-top" onclick="location.href='productM.html'">
        <div class="card-body">
            <p class="card-text">This is a jacket</p>
            <a href="./html/productM.html" class="btn btn-primary">More info</a>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <img src="./img/blueJacket.png" alt="blue jacket" class="card-img-top" onclick="location.href='productM.html'">
        <div class="card-body">
            <p class="card-text">This is a jacket</p>
            <a href="./html/productM.html" class="btn btn-primary">More info</a>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <img src="./img/greenJacket.png" alt="green jacket" class="card-img-top" onclick="location.href='productM.html'">
        <div class="card-body">
            <p class="card-text">This is a jacket</p>
            <a href="./html/productM.html" class="btn btn-primary">More info</a>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <img src="./img/blueJacket.png" alt="blue jacket" class="card-img-top" onclick="location.href='productM.html'">
        <div class="card-body">
            <p class="card-text">This is a jacket</p>
            <a href="./html/productM.html" class="btn btn-primary">More info</a>
        </div>
    </div>
</div>